body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
} 

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.title1 {
    color:purple;
    margin-top: 20px;
    background-color:yellowgreen;
}
.title2 {
    color:blue;
    margin-top: 20px;
    background-color:lightblue;
}

h2 {
    color:rgb(190, 33, 59);
    margin-top: 20px;
    background-color: lightpink;
}

h3 {
    color:orangered;
    margin-top: 20px;
    background-color:orange;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}